* {
  margin:0;
  padding:0;
  outline:none;
  background-color:rgba(0,0,0,0);
  box-sizing:border-box;
  text-decoration:none;
  list-style:none;
  font-family:"arial", Sans-Serif;
  border:none
}
    

img {
  -o-object-fit:cover;
  object-fit:cover;
  -o-object-position:center;
  object-position:center
}
    
body {
  width:100%}


h1 {
    font-size:1.8rem;
    margin-bottom:.6rem;
    color:#162432
  }
  
aside {
    margin-bottom:1.5rem;
    width:9.3rem;
    height:5px;
    border-radius:5px;
    background-color:#162432
  }

nav {
  width:100%;
  top:0;
  position:fixed;
  display:flex;
  justify-content:space-between;
  padding:1rem;
  color:#fff;
  -webkit-backdrop-filter:blur(10px);
  backdrop-filter:blur(20px)
}
    
strong {font-size:1.6rem}

nav ul {
  display:flex;
  align-items:center;
  gap:1.56rem;
  color:#fff;
  font-weight:bold
  
}

nav ul:hover {
  text-decoration: underline;
}


a, a:visited {
  color:#fff;
}

.home {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:end;
  width:100%;
  height:100vh;
  background:url("../assets/images/pexels-ben-mack-5707638.jpg") no-repeat center/cover;
  color:#fff;
  font-weight:bold
}

.subtitle {
  line-height:2.4rem;
  font-size:0.8rem;
  text-transform:uppercase;
  letter-spacing:0.2rem;
  color:#fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 1);
  padding-bottom: 5%;
  text-align:center;
}

.subtitle span::after {
  content:"|";
  text-align:center;
  display:inline-block;
  padding:0 8px 0 14px;
  color: rgba(255, 255, 255, 0.837);

}

.home h1 {
  font-size:3.75rem;
  margin-bottom:1.25rem;
  color:#fff
}

.home h2 {
  font-size:2.18rem;
  font-weight:bold;
  margin-bottom:.5rem
}


.home button {
  width:9.3rem;
  font-size:1rem;
  font-weight:bold;
  border-radius:1.25rem;
  margin-bottom:9.3rem;
  background-color:#fda502;
  color:#fff;
  height:2.5rem
}

.about {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:end;
  font-size: 1.7rem;
  line-height: 3rem;
  color: #162432;
  width:100%;
  padding:2rem 0;
  width:100%;
  background-color: #1f2d361f;
}


.about p{
  font-size: 1.2rem;
  line-height: 1.8;
  color: #888888;
  max-width: 800px;
  flex:70%;
  display: inline-block;
  padding: 20px

}

.profile-pic {
  margin-right:20px;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
  flex:30%;

}

.work {
  padding:2rem 0;
  width:100%;
  height:105vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color: #1f2d361f;
}

.work div {
  display:flex;
  justify-content:center;
  width:100%;
  gap:1.25rem
}

.work article {
  display:flex;
  flex-direction:column;
  align-items:center
}

.work article img {
  width:600px;
  height:500px;
  margin-bottom:1rem;
  margin-top: 1rem;
}

.work article img:hover {
  transform:scale(1.05)
}

.work article span {
  font-size:1.25rem;
  font-weight:bold;
  margin-bottom:1rem
}
.work article button {
  padding:10px 20px;
  border-radius:20px;
  color:#fff;
  font-weight:bold;
  background-color:#fda502;
  margin:auto

}

.work article button:hover {
  cursor:pointer;
  opacity: 0.7;
}

#comingsoon button:hover {
  cursor:not-allowed;
  opacity: 0.7;
}

.contactme {
  width:100%;
  height:92vh;
  display:flex;
  flex-direction:column;
  align-items:center ;
  padding:2.5rem;
  background-color:#20354a;
  color: #fff;
}

.contactme aside {
  background-color:#fff;
  text-align: center;
  width:9.3rem;
  flex-shrink: 0;
}

.contactme h1 {
  font-size:1.8rem;
  margin-bottom:1.2rem;
  color:#fff;
  text-align:center
}

.column img {
  width:95%;
  padding:0px;
  border-radius: 20%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color:#fff
  
}

input[type=submit] {
  padding:10px 20px;
  border-radius:20px;
  color:#fff;
  font-weight:bold;
  background-color:#fda502;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  border-radius: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.social-media {
  padding: 0;
  font-size: 33px;
  width: 100%;
  text-align:center;
  margin-bottom: 20px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin,.fa-instagram,.fa-github {
  color: white;
}

.footer {
  padding: 10px;
  text-align: center;
}

.footer img{
  width:150px;
  height:100px;
}


@media screen and (max-width: 992px){

  .profile-pic {
    display:block;
    margin:0 auto}

  }

@media screen and (max-width: 768px){
  nav ul{
    display:none}
  .home p{
    font-size:0.7rem;
    text-align:center
  }
  .home h1{font-size:2.18rem}
  .about p {font-size:1.2rem}
  .profile-pic {
    display:block;
    margin:0 auto}
  .work{height:auto}
  .work div{flex-direction:column}
  .work article{padding:10px}
  .work article>img{
    width:100%;
    height:18.75rem
  }
  .contactme {height:auto}
  
}

@media screen and (max-width: 575px){
    nav ul{display:none}
    .home p{
      font-size:0.7rem;
      text-align:center
    }
    .home h1{font-size:2.18rem}
    .work{height:auto}
    .work div{flex-direction:column}
    .work article{padding:10px}
    .work article>img{
      width:100%;
      height:18.75rem}
    .contactme {height:auto}
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }

   
}